* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

@font-face {
  font-family: "Jumble";
  src: url("../font/Jumble.ttf") format("truetype");
  font-display: swap;
}
body,
button,
input,
textarea {
  font-size: 1.6rem;
  font-family: "Jumble", sans-serif;
  font-weight: normal;
  --webkit-font-smoothing: antialiased;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px transparent;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  line-height: 0;
  cursor: pointer;
}

body {
  background-image: url(../img/bg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.desktop {
  display: block;
}
.desktop .logo {
  text-align: center;
  margin-top: 5px;
}
.desktop .logo img {
  width: 155px;
  height: 100px;
  transition: 300ms;
}
.desktop .logo img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.desktop .tablet {
  background-image: url(../img/tablet.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 670px;
  height: 821px;
  margin: 0 auto;
  padding-top: 30px;
}
.desktop .tablet .warning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 625px;
  height: 122px;
  margin: 0 auto;
  margin-right: 28px;
  background-image: url(../img/warning-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.desktop .tablet .warning .whatsapp-icon {
  margin-left: 10px;
  margin-right: 10px;
}
.desktop .tablet .warning .whatsapp-icon img {
  width: 100px;
  height: 88px;
}
.desktop .tablet .warning .form p {
  color: #fff;
  font-size: 1.6rem;
  text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f, -2px 2px 2px #15202f, 2px 2px 2px #15202f;
  margin-left: 8px;
  margin-bottom: 8px;
}
.desktop .tablet .warning .form form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.desktop .tablet .warning .form form input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}
.desktop .tablet .warning .form form input {
  background: none;
  border: none;
  background-image: url(../img/input-number-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 285px;
  height: 40px;
  padding-left: 20px;
  color: #7f7f99;
}
.desktop .tablet .warning .form form button {
  background: none;
  border: none;
  background-image: url(../img/submit-btn-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 190px;
  height: 40px;
  color: #004c61;
  font-size: 1.8rem;
  font-weight: normal;
  text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
  transition: 300ms;
}
.desktop .tablet .warning .form form button:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.desktop .tablet .store {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  width: 625px;
  height: 55px;
  margin: 0 auto;
  margin-left: 17px;
  margin-top: 5px;
  background-image: url(../img/store-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.desktop .tablet .store p {
  font-size: 1.4rem;
  color: #fff;
  text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f, -2px 2px 2px #15202f, 2px 2px 2px #15202f;
}
.desktop .tablet .store a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}
.desktop .tablet .store a:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.desktop .tablet .store a + a {
  margin-left: 10px;
}
.desktop .tablet .store img {
  width: 150px;
  height: 47px;
}
.desktop .tablet .banner-sucess img {
  width: 650px;
  height: 100px;
}
.desktop .tablet .vip {
  width: 625px;
  margin: 0 auto;
  text-align: center;
}
.desktop .tablet .vip p {
  width: 580px;
  margin: 0 auto;
  font-size: 1.8rem;
  color: #fff;
  text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f, -2px 2px 2px #15202f, 2px 2px 2px #15202f;
}
.desktop .tablet .vip p span {
  color: #4eeb0e;
}
.desktop .tablet .vip a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/vip-btn-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 625px;
  height: 63px;
  margin-left: -6px;
  color: #004c61;
  font-size: 2.8rem;
  text-shadow: -2px -2px 1px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
  transition: 300ms;
}
.desktop .tablet .vip a:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.desktop .tablet .code {
  width: 625px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.desktop .tablet .code p {
  width: 580px;
  margin: 0 auto;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756, -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;
}
.desktop .tablet .code p span {
  color: #4eeb0e;
}
.desktop .tablet .code a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/vip-btn-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 625px;
  height: 63px;
  margin-left: -6px;
  color: #004c61;
  font-size: 2.8rem;
  text-shadow: -2px -2px 1px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
  transition: 300ms;
}
.desktop .tablet .code a:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.desktop .tablet .infos p {
  font-size: 1.6rem;
  color: #fff;
  text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756, -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;
  width: 580px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
.desktop .tablet .cta {
  background-image: url(../img/info-bottom-bg.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 625px;
  height: 135px;
  margin: 0 auto;
  margin-top: 5px;
  margin-left: 15px;
}
.desktop .tablet .cta h3 {
  font-weight: normal;
  font-size: 2rem;
  color: #fff;
  text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756, -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;
  text-align: center;
  line-height: 1.2;
  padding-top: 10px;
}
.desktop .tablet .cta h3 span {
  color: #4eeb0e;
  font-size: 2.4rem;
}
.desktop .tablet footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop .tablet footer div + div {
  margin-left: 10px;
}
.desktop .tablet footer div {
  width: 284px;
  height: 90px;
  margin-top: -73px;
}
.desktop .tablet footer a {
  color: #004c61;
  font-size: 1.6rem;
  text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
  transition: 300ms;
}
.desktop .tablet footer a:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.desktop .tablet footer .panel-left {
  background-image: url(../img/panel-left.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.desktop .tablet footer .panel-left a:nth-child(1) {
  position: absolute;
  top: 22px;
  left: 39px;
}
.desktop .tablet footer .panel-left a:nth-child(2) {
  position: absolute;
  top: 22px;
  right: 34px;
}
.desktop .tablet footer .panel-right {
  background-image: url(../img/panel-right.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.desktop .tablet footer .panel-right a:nth-child(1) {
  position: absolute;
  top: 22px;
  left: 39px;
}
.desktop .tablet footer .panel-right a:nth-child(2) {
  position: absolute;
  top: 22px;
  right: 37px;
}

.mobile {
  display: none;
}

@media (max-width: 799px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    transform: scale(1.1);
  }
  .mobile header {
    width: 90vw;
    height: 28.1vw;
    margin: 0 auto;
    background-image: url(../img/panel-mobile.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mobile header .logo-mobile {
    text-align: center;
    position: relative;
  }
  .mobile header .logo-mobile a {
    font-weight: normal;
    color: #004c61;
    font-size: 2.51vw;
    text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
    transition: 300ms;
  }
  .mobile header .logo-mobile a:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile header .logo-mobile a img {
    margin-top: 6vw;
    width: 25vw;
    height: 16.2vw;
    transition: 300ms;
  }
  .mobile header .logo-mobile a img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile header .logo-mobile a.link1 {
    position: absolute;
    top: 4.75vw;
    left: 10vw;
  }
  .mobile header .logo-mobile a.link2 {
    position: absolute;
    bottom: -1.5vw;
    left: 11vw;
  }
  .mobile header .logo-mobile a.link3 {
    position: absolute;
    top: 4.75vw;
    right: 10vw;
  }
  .mobile header .logo-mobile a.link4 {
    position: absolute;
    bottom: -1.5vw;
    right: 10vw;
  }
  .mobile .store {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    width: 86.36vw;
    height: 7.51vw;
    margin: 0 auto;
    margin-top: 5px;
    background-image: url(../img/store-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mobile .store p {
    font-size: 1.753vw;
    color: #fff;
    text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f, -2px 2px 2px #15202f, 2px 2px 2px #15202f;
  }
  .mobile .store a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
  }
  .mobile .store a:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile .store a + a {
    margin-left: 10px;
  }
  .mobile .store img {
    width: 18.77vw;
    height: 5.88vw;
  }
  .mobile .tablet {
    background-image: url(../img/tablet-mobile.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 86.36vw;
    height: 124.03vw;
    margin: 0 auto;
    padding-top: 3.504vw;
    padding-left: 3.254vw;
  }
  .mobile .tablet .warning {
    width: 78.222vw;
    height: 30vw;
    text-align: center;
    background-image: url(../img/warning-mobile-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .mobile .tablet .warning .whatsapp-icon {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile .tablet .warning .whatsapp-icon img {
    width: 6.26vw;
    height: 5.38vw;
  }
  .mobile .tablet .warning .whatsapp-icon .message {
    background-image: url(../img/layer-black.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 78.85vw;
    height: 16.27vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 15px;
  }
  .mobile .tablet .warning .whatsapp-icon .message p {
    color: #fff;
    font-size: 2.253vw;
    text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f, -2px 2px 2px #15202f, 2px 2px 2px #15202f;
  }
  .mobile .tablet .warning .form {
    margin-top: 1.88vw;
    margin-left: -6px;
  }
  .mobile .tablet .warning .form form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .mobile .tablet .warning .form form input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
            appearance: textfield;
  }
  .mobile .tablet .warning .form form input {
    background: none;
    border: none;
    background-image: url(../img/input-number-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 46.3vw;
    height: 6.382vw;
    padding-left: 20px;
    color: #7f7f99;
  }
  .mobile .tablet .warning .form form input::-moz-placeholder {
    font-size: 2vw;
  }
  .mobile .tablet .warning .form form input::placeholder {
    font-size: 2vw;
  }
  .mobile .tablet .warning .form form button {
    background: none;
    border: none;
    background-image: url(../img/submit-btn-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30.162vw;
    height: 6.382vw;
    color: #004c61;
    font-size: 2.252vw;
    font-weight: normal;
    text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
    transition: 300ms;
  }
  .mobile .tablet .warning .form form button:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile .tablet .banner-sucess {
    margin-top: 3.755vw;
  }
  .mobile .tablet .banner-sucess img {
    width: 81.35vw;
    height: 12.52vw;
  }
  .mobile .tablet .vip {
    width: 78.222vw;
    margin: 0 auto;
    text-align: center;
  }
  .mobile .tablet .vip p {
    width: 72.59vw;
    margin: 0 auto;
    font-size: 2.503vw;
    color: #fff;
    text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f, -2px 2px 2px #15202f, 2px 2px 2px #15202f;
  }
  .mobile .tablet .vip p span {
    color: #4eeb0e;
  }
  .mobile .tablet .vip a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/vip-btn-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 78.222vw;
    height: 7.88vw;
    margin-left: -6px;
    color: #004c61;
    font-size: 3.504vw;
    text-shadow: -2px -2px 1px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
    transition: 300ms;
  }
  .mobile .tablet .vip a:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile .tablet .code {
    width: 78.222vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 3.755vw;
  }
  .mobile .tablet .code p {
    width: 72.59vw;
    margin: 0 auto;
    font-size: 2.253vw;
    color: #fff;
    text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756, -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;
  }
  .mobile .tablet .code p span {
    color: #4eeb0e;
  }
  .mobile .tablet .code a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/vip-btn-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 78.222vw;
    height: 7.884vw;
    margin-left: -6px;
    color: #004c61;
    font-size: 3.504vw;
    text-shadow: -2px -2px 1px #00fffc, 2px -2px 1px #00fffc, -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;
    transition: 300ms;
  }
  .mobile .tablet .code a:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  .mobile .tablet .infos {
    margin-top: 3.755vw;
  }
  .mobile .tablet .infos p {
    font-size: 2.253vw;
    color: #fff;
    text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756, -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;
    width: 72.59vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
  }
  .mobile .tablet .cta {
    background-image: url(../img/info-bottom-bg.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 78.222vw;
    height: 16.9vw;
    margin: 0 auto;
    margin-top: 2.503vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile .tablet .cta h3 {
    font-weight: normal;
    font-size: 3vw;
    color: #fff;
    text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756, -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;
    text-align: center;
    line-height: 1.2;
  }
  .mobile .tablet .cta h3 span {
    color: #4eeb0e;
    font-size: 3vw;
  }
}/*# sourceMappingURL=style.css.map */