* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Jumble';
  src: url('../font/Jumble.ttf') format('truetype');
  font-display: swap;
}

body,
button,
input,
textarea {
  font-size: 1.6rem;
  font-family: 'Jumble', sans-serif;
  font-weight: normal;
  --webkit-font-smoothing: antialiased;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px transparent;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  line-height: 0;
  cursor: pointer;
}

body {
  background-image: url(../img/bg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.desktop {
  display: block;

  .logo {
    text-align: center;
    margin-top: 5px;

    img {
      width: 155px;
      height: 100px;

      transition: 300ms;

      &:hover {
        transform: scale(1.1);
        filter: brightness(1.1);
      }
    }
  }

  .tablet {
    background-image: url(../img/tablet.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 670px;
    height: 821px;

    margin: 0 auto;
    padding-top: 30px;

    .warning {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 625px;
      height: 122px;

      margin: 0 auto;
      margin-right: 28px;

      background-image: url(../img/warning-bg.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .whatsapp-icon {
        margin-left: 10px;
        margin-right: 10px;

        img {
          width: 100px;
          height: 88px;
        }
      }

      .form {
        p {
          color: #fff;
          font-size: 1.6rem;
          text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f,
            -2px 2px 2px #15202f, 2px 2px 2px #15202f;

          margin-left: 8px;
          margin-bottom: 8px;
        }

        form {
          input[type='number']::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
          input[type='number'] {
            -moz-appearance: textfield;
            appearance: textfield;
          }

          input {
            background: none;
            border: none;

            background-image: url(../img/input-number-bg.webp);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            width: 285px;
            height: 40px;

            padding-left: 20px;

            color: #7f7f99;
          }

          button {
            background: none;
            border: none;

            background-image: url(../img/submit-btn-bg.webp);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            width: 190px;
            height: 40px;

            color: #004c61;
            font-size: 1.8rem;
            font-weight: normal;
            text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc,
              -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;

            transition: 300ms;

            &:hover {
              transform: scale(1.1);
              filter: brightness(1.1);
            }
          }
        }
      }
    }

    .store {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0 20px;

      width: 625px;
      height: 55px;
      margin: 0 auto;
      margin-left: 17px;
      margin-top: 5px;

      background-image: url(../img/store-bg.webp);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      p {
        font-size: 1.4rem;
        color: #fff;
        text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f,
          -2px 2px 2px #15202f, 2px 2px 2px #15202f;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        transition: 300ms;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.1);
        }
      }

      a + a {
        margin-left: 10px;
      }

      img {
        width: 150px;
        height: 47px;
      }
    }

    .banner-sucess {
      img {
        width: 650px;
        height: 100px;
      }
    }

    .vip {
      width: 625px;
      margin: 0 auto;

      text-align: center;

      p {
        width: 580px;
        margin: 0 auto;

        font-size: 1.8rem;
        color: #fff;
        text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f,
          -2px 2px 2px #15202f, 2px 2px 2px #15202f;

        span {
          color: #4eeb0e;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url(../img/vip-btn-bg.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        width: 625px;
        height: 63px;

        margin-left: -6px;

        color: #004c61;
        font-size: 2.8rem;
        text-shadow: -2px -2px 1px #00fffc, 2px -2px 1px #00fffc,
          -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;

        transition: 300ms;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.1);
        }
      }
    }

    .code {
      width: 625px;
      margin: 0 auto;

      text-align: center;

      margin-top: 10px;

      p {
        width: 580px;
        margin: 0 auto;

        font-size: 1.6rem;
        color: #fff;
        text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756,
          -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;

        span {
          color: #4eeb0e;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        background-image: url(../img/vip-btn-bg.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        width: 625px;
        height: 63px;

        margin-left: -6px;

        color: #004c61;
        font-size: 2.8rem;
        text-shadow: -2px -2px 1px #00fffc, 2px -2px 1px #00fffc,
          -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;

        transition: 300ms;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.1);
        }
      }
    }

    .infos {
      p {
        font-size: 1.6rem;
        color: #fff;
        text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756,
          -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;

        width: 580px;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
      }
    }

    .cta {
      background-image: url(../img/info-bottom-bg.webp);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      width: 625px;
      height: 135px;

      margin: 0 auto;
      margin-top: 5px;
      margin-left: 15px;

      h3 {
        font-weight: normal;
        font-size: 2rem;
        color: #fff;
        text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756,
          -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;
        text-align: center;

        line-height: 1.2;
        padding-top: 10px;

        span {
          color: #4eeb0e;
          font-size: 2.4rem;
        }
      }
    }

    footer {
      display: flex;
      justify-content: center;
      align-items: center;

      div + div {
        margin-left: 10px;
      }

      div {
        width: 284px;
        height: 90px;

        margin-top: -73px;
      }

      a {
        color: #004c61;
        font-size: 1.6rem;

        text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc,
          -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;

        transition: 300ms;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.1);
        }
      }

      .panel-left {
        background-image: url(../img/panel-left.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        position: relative;

        a:nth-child(1) {
          position: absolute;
          top: 22px;
          left: 39px;
        }

        a:nth-child(2) {
          position: absolute;
          top: 22px;
          right: 34px;
        }
      }

      .panel-right {
        background-image: url(../img/panel-right.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        position: relative;

        a:nth-child(1) {
          position: absolute;
          top: 22px;
          left: 39px;
        }

        a:nth-child(2) {
          position: absolute;
          top: 22px;
          right: 37px;
        }
      }
    }
  }
}

.mobile {
  display: none;
}

@media (max-width: 799px) {
  .desktop {
    display: none;
  }

  body {
    background-image: url(../img/mobile-bg.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
  }

  .mobile {
    display: block;

    header {
      width: 90vw;
      height: 28.1vw;

      margin: 0 auto;

      background-image: url(../img/panel-mobile.webp);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      .logo-mobile {
        text-align: center;
        position: relative;

        a {
          font-weight: normal;

          color: #004c61;
          font-size: 2.51vw;

          text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc,
            -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;

          transition: 300ms;

          &:hover {
            transform: scale(1.1);
            filter: brightness(1.1);
          }

          img {
            margin-top: 6vw;

            width: 25vw;
            height: 16.2vw;

            transition: 300ms;

            &:hover {
              transform: scale(1.1);
              filter: brightness(1.1);
            }
          }
        }

        a.link1 {
          position: absolute;
          top: 4.75vw;
          left: 10vw;
        }

        a.link2 {
          position: absolute;
          bottom: -1.5vw;
          left: 11vw;
        }

        a.link3 {
          position: absolute;
          top: 4.75vw;
          right: 10vw;
        }

        a.link4 {
          position: absolute;
          bottom: -1.5vw;
          right: 10vw;
        }
      }
    }

    .store {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0 20px;

      width: 86.36vw;
      height: 7.51vw;
      margin: 0 auto;
      margin-top: 5px;

      background-image: url(../img/store-bg.webp);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      p {
        // padding: 0 10px;
        // padding-left: 4vw;
        font-size: 1.753vw;
        color: #fff;
        text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f,
          -2px 2px 2px #15202f, 2px 2px 2px #15202f;
      }

      // a:nth-child(3) {
      //   margin-right: 4vw;
      // }

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        transition: 300ms;

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.1);
        }
      }

      a + a {
        margin-left: 10px;
      }

      img {
        width: 18.77vw;
        height: 5.88vw;
      }
    }

    .tablet {
      background-image: url(../img/tablet-mobile.webp);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      width: 86.36vw;
      height: 124.03vw;

      margin: 0 auto;
      padding-top: 3.504vw;
      padding-left: 3.254vw;

      .warning {
        width: 78.222vw;
        height: 30vw;

        text-align: center;

        background-image: url(../img/warning-mobile-bg.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        .whatsapp-icon {
          margin-left: 15px;
          margin-right: 15px;

          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 6.26vw;
            height: 5.38vw;
          }

          .message {
            background-image: url(../img/layer-black.webp);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            width: 78.85vw;
            height: 16.27vw;

            padding: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            margin-left: 15px;
            margin-top: 15px;

            p {
              color: #fff;
              font-size: 2.253vw;
              text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f,
                -2px 2px 2px #15202f, 2px 2px 2px #15202f;
            }
          }
        }

        .form {
          margin-top: 1.88vw;
          margin-left: -6px;

          form {
            input[type='number']::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
            input[type='number'] {
              -moz-appearance: textfield;
              appearance: textfield;
            }

            input {
              background: none;
              border: none;

              background-image: url(../img/input-number-bg.webp);
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;

              width: 46.3vw;
              height: 6.382vw;

              padding-left: 20px;

              color: #7f7f99;

              &::placeholder {
                font-size: 2vw;
              }
            }

            button {
              background: none;
              border: none;

              background-image: url(../img/submit-btn-bg.webp);
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;

              width: 30.162vw;
              height: 6.382vw;

              color: #004c61;
              font-size: 2.252vw;
              font-weight: normal;
              text-shadow: -2px -2px 2px #00fffc, 2px -2px 1px #00fffc,
                -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;

              transition: 300ms;

              &:hover {
                transform: scale(1.1);
                filter: brightness(1.1);
              }
            }
          }
        }
      }

      .banner-sucess {
        margin-top: 1.88vw;

        img {
          width: 81.35vw;
          height: 12.52vw;
        }
      }

      .vip {
        width: 78.222vw;
        margin: 0 auto;

        text-align: center;

        p {
          width: 72.59vw;
          margin: 0 auto;

          font-size: 2.503vw;
          color: #fff;
          text-shadow: -2px -2px 2px #15202f, 2px -2px 2px #15202f,
            -2px 2px 2px #15202f, 2px 2px 2px #15202f;

          span {
            color: #4eeb0e;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          background-image: url(../img/vip-btn-bg.webp);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

          width: 78.222vw;
          height: 7.88vw;

          margin-left: -6px;

          color: #004c61;
          font-size: 3.504vw;
          text-shadow: -2px -2px 1px #00fffc, 2px -2px 1px #00fffc,
            -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;

          transition: 300ms;

          &:hover {
            transform: scale(1.1);
            filter: brightness(1.1);
          }
        }
      }

      .code {
        width: 78.222vw;
        margin: 0 auto;

        text-align: center;

        margin-top: 1.88vw;

        p {
          width: 72.59vw;
          margin: 0 auto;

          font-size: 2.253vw;
          color: #fff;
          text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756,
            -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;

          span {
            color: #4eeb0e;
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          background-image: url(../img/vip-btn-bg.webp);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;

          width: 78.222vw;
          height: 7.884vw;

          margin-left: -6px;

          color: #004c61;
          font-size: 3.504vw;
          text-shadow: -2px -2px 1px #00fffc, 2px -2px 1px #00fffc,
            -2px 2px 1px #00fffc, 2px 2px 1px #00fffc;

          transition: 300ms;

          &:hover {
            transform: scale(1.1);
            filter: brightness(1.1);
          }
        }
      }

      .infos {
        margin-top: 1.88vw;

        p {
          font-size: 2.253vw;
          color: #fff;
          text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756,
            -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;

          width: 72.59vw;
          margin: 0 auto;
          text-align: center;
        }
      }

      .cta {
        background-image: url(../img/info-bottom-bg.webp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        width: 78.222vw;
        height: 16.9vw;

        margin: 0 auto;
        margin-top: 1.88vw;

        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          font-weight: normal;
          font-size: 3vw;
          color: #fff;
          text-shadow: -2px -2px 2px #1e3756, 2px -2px 2px #1e3756,
            -2px 2px 2px #1e3756, 2px 2px 2px #1e3756;
          text-align: center;

          line-height: 1.2;

          span {
            color: #4eeb0e;
            font-size: 3vw;
          }
        }
      }
    }
  }
}
